*{
    margin: 0px;
}

body{
    background-image: url(./image/listImage.jpg);
    background-size: cover;
    height: 100vh;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    font-style: italic;
}

.list li{
    display: inline;
    margin: 40px 50px 40px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: rgba(37, 20, 80, 0.647);
}

.start{
    margin: 25px;
}

.start input{
    border-radius: 5px;
}

.start button{

    width: 100px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.275);
}

button:hover{
    cursor: pointer;
    color: rgb(54, 28, 79);
    background-color: rgb(116, 95, 62);
    font-weight: bolder;
}

.class-product {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 600px;
    margin: auto;
}

footer{
    text-align: center;
}

@media screen and(min-width:700px){

.list li{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

    
footer{
        text-align: center;
}  
    
}