*{
    margin: 0px;
}

.list{
    display: flexbox;
    flex-direction: row;
    justify-content:space-evenly;
    border:1px solid #682222;
    width: 1400px;
    margin: 30px auto;
}

.list h1{
    text-align: center;
    margin: 20px;
}

.class-product, .class-cleaning, .class-fruit, .class-cold, .class-frozen, .class-bakery, .class-drinks{
    display: inline-block;
    max-width: 300px;
    margin: 10px 10px;
    width: 350px;
    height: 400px;
    border: 2px solid #682222;
    padding: auto;
}